.search-result {
    background: #fff;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    padding: .5rem;
}
.search-result:hover, .search-result:focus {
  background-color: rgb(240, 235, 235);
}

:host ::ng-deep .search-result p strong {
  background-color: yellow;
}

.search-result a {
  text-decoration:none;
  color:#303030;
  font-weight:normal;
}
