<div *ngIf="isLoaded" class="row">
  <div class="col-md-7 order-2 order-2 order-xl-1 panel bigger">
    <h1>{{ content.label }}</h1>
    <mat-tab-group>
      <mat-tab label="PDF">
        <iframe [src]="content.embed_uri" style="width:100%; height:900px;" frameborder="0"></iframe>
      </mat-tab>
      <mat-tab label="Plaintext">
        <div [innerHTML]="content.text | keepHtml"></div> 
      </mat-tab>
    </mat-tab-group>      
  </div>
  <div class="col-md-4 order-1 order-xl-2 panel bigger">
    <h2>Download Original</h2>
    <p *ngIf="content.filename">
      <a href="{{ content.uri }}">
        <img class="download" src="assets/download.svg" alt="Download icon" /> {{ content.filename }}</a> ({{ content.filesize }})
    </p>
    <div *ngIf="exactTexts.length">
      <div class="facet-wrapper">
      <div class="facet-header" [ngClass]="(globals.repositoryFacets['repositoryExactTexts'])?'open':'closed'" (click)="toggleFacet('repositoryExactTexts')">Student texts associated with this material</div>
      <p class="details-description" [hidden]="!globals.repositoryFacets['repositoryExactTexts']">From this instructor's {{ content.course }} {{ content.assignment }} assignment, {{ content.semester }} {{ content.year }}</p>
    	<ul [hidden]="!globals.repositoryFacets['repositoryExactTexts']" *ngFor="let result of exactTexts">
    		<li><a routerLink="/corpus/{{ result.filename }}" routerLinkActive="active">{{ result.assignment }}, Draft {{ result.draft }} ({{ result.id }})</a></li>
      </ul>
      </div>
    </div>
    <div *ngIf="exactResources.length">
      <div class="facet-wrapper">
      <div class="facet-header" [ngClass]="(globals.repositoryFacets['repositoryExactResources'])?'open':'closed'" (click)="toggleFacet('repositoryExactResources')">Instructor materials related to this resource</div>
      <p class="details-description" [hidden]="!globals.repositoryFacets['repositoryExactResources']">From this instructor's {{ content.course }} {{ content.assignment }} assignment, {{ content.semester }} {{ content.year }}</p>
    	<ul [hidden]="!globals.repositoryFacets['repositoryExactResources']" *ngFor="let result of exactResources">
				<li><a routerLink="/repository/{{result.id}}" routerLinkActive="active">{{result.document_type}}</a></li>
      </ul>
      </div>
    </div>
    <div *ngIf="relatedTexts.length">
      <div class="facet-wrapper">
      <div class="facet-header" [ngClass]="(globals.repositoryFacets['repositoryRelatedTexts'])?'open':'closed'" (click)="toggleFacet('repositoryRelatedTexts')">Related student texts</div>
      <p class="details-description" [hidden]="!globals.repositoryFacets['repositoryRelatedTexts']">From other {{ content.institution }} instructors' {{ content.course }} courses</p>
    	<ul [hidden]="!globals.repositoryFacets['repositoryRelatedTexts']" *ngFor="let result of relatedTexts">
				<li><a routerLink="/corpus/{{ result.filename }}" [queryParams]="{ search: searchQuery }" routerLinkActive="active">{{ result.assignment }}, Draft {{ result.draft }} ({{ result.id }})</a></li>
      </ul>
      </div>
    </div>
    <div *ngIf="relatedResources.length">
      <div class="facet-wrapper">
      <div class="facet-header" [ngClass]="(globals.repositoryFacets['repositoryRelatedResources'])?'open':'closed'" (click)="toggleFacet('repositoryRelatedResources')">Related course materials</div>
      <p class="details-description" [hidden]="!globals.repositoryFacets['repositoryRelatedResources']">From other {{ content.institution }} instructors' {{ content.course }} courses</p>
    	<ul [hidden]="!globals.repositoryFacets['repositoryRelatedResources']" *ngFor="let result of relatedResources">
				<li><a routerLink="/repository/{{result.id}}" routerLinkActive="active">{{result.document_type}}</a></li>
      </ul>
      </div>
    </div>
    <table>
      <tbody>
        <tr *ngIf="content.document_type">
          <th scope="row">Document type</th>
          <td>{{ content.document_type }}</td>
        </tr>
        <tr *ngIf="content.topic">
          <th scope="row">Topic</th>
          <td>{{ content.topic }}</td>
        </tr>
        <tr *ngIf="content.assignment">
          <th scope="row">Assignment</th>
          <td>{{ content.assignment }}<br /><em>{{ content.assignment_description }}</em></td>
        </tr>
        <tr *ngIf="content.institution">
          <th scope="row">Institution</th>
          <td>{{ content.institution }}</td>
        </tr>
        <tr *ngIf="content.semester">
            <th scope="row">Term</th>
            <td>{{ content.semester }} {{ content.year }}</td>
        </tr>
        <tr *ngIf="content.course">
          <th scope="row">Course</th>
          <td>{{ content.course }}<br /><em>{{ content.course_description }}</em></td>
        </tr>
        <tr *ngIf="content.length">
            <th scope="row">Length</th>
            <td>{{ content.length }}</td>
        </tr>
        <tr *ngIf="content.mode">
            <th scope="row">Mode</th>
            <td>{{ content.mode }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
