.search-result {
  background: #fff;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  padding: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.facet-wrapper {
  margin-top: 0.5rem;
}

.search-result a {
  text-decoration:none;
  color:#303030;
  font-weight:normal;
  font-size:1rem;
}

/* Wrap long filenames. */
.search-result div div {
	overflow-wrap:break-word;
}

:host ::ng-deep .result strong {
  background-color:yellow;
}