.search-result {
  background: #fff;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  padding: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width:100%;
}

#search-box, .metadata-toggle {
  width:100%;
}

.result-wrapper {
  background: #f6f6f6;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 1rem;
}
.search-metadata {
  font-size: 0.9rem;
}
.result-wrapper-top {
  width:100%;
}
.result-wrapper-top h3 {
  display: inline-block;
  margin-right: 2rem;
}
.search-display-options label {
  margin-right: 1.5rem;
}
.search-display-options {
  display: inherit;
  width: -moz-available;
}
.search-option {
  display: inline-block;
  margin-right: 0.25rem;
}
.toggle-option label {
  margin-left: 1rem;
}
.toggle-option label input {
  margin-right: 0.25rem;
}
.search-result td {
  display: inline-block;
}
.search-result td.table-cell {
  display: table-cell;
}
.search-result .semester-prefix::before {
  content: "Semester: ";
  font-weight: bold;
}
.search-result .course-prefix::before {
  content: "Course: ";
  font-weight: bold;
}
.search-result .assignment-prefix::before {
  content: "Assignment: ";
  font-weight: bold;
}
.search-result .gender-prefix::before {
  content: "Gender: ";
  font-weight: bold;
}
.search-result .toefl-prefix::before {
  content: "TOEFL: ";
  font-weight: bold;
}
.search-result .draft-prefix::before {
  content: "Draft: ";
  font-weight: bold;
}
.result-format {
  padding-top: 10px;
}
.copy-table {
  float: right;
}
.search-display-options label input {
  margin-right: 10px;
}
.border-top {
  border-top: 2px solid rgb(114, 114, 114);
}
hr {
  border-top: 1px solid rgb(114, 114, 114);
}
table thead {
  border-bottom: 2px solid rgb(114, 114, 114);
}
table.frequency {
  margin-bottom: 0.25rem;
}
.no-bold {
  font-weight: normal;
}
.emboss-right {
  float:right;
  margin-top:-50px;
  margin-right: 10px
}
.copy-clipboard:before {
  content: "Copy";
}
.copy-clipboard.copied:before {
  content: "Copied";
}
.copy-clipboard:after {
  padding-left: 0.25rem;
  content: url('/assets/copy.svg');
}
.copy-clipboard.copied:after {
  content: url('/assets/checkmark.svg');
}

tr.search-result:hover,
tr.search-result:focus {
  background-color: rgb(240, 235, 235);
}
tfoot, tr, td {
  font-weight: normal;
  text-align: left;
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
}
.link-to-text {
  float: right;
}
.link-to-text a {
  font-weight: bold;
}
:host ::ng-deep .result strong {
  background-color:yellow;
}

table {
  margin-top: 1rem;
}
