<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h1>Download Crow corpus for offline use</h1>
    <div *ngIf="downloadUrl">
    (Language about usage and link to terms & conditions goes here...)
      <div style="text-align:center;">
        <button (click)="offlineDownload()" class="btn btn-dark">Download corpus &#8659;</button>
      </div>
    </div>
    <div *ngIf="!downloadUrl">
      In order to download the corpus for offline use, you will need to <a target="_blank" href="{{ registration_url }}">Request access</a>.
    </div>
  </div>
</div>
