<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-7 light-panel">
      <h2>Sign In</h2>
      <p>The Crow corpus & repository components require additional permission to view. If you have been given credentials by Crow maintainers, enter them below.</p>
      <form id="authorize" method="post" class="form-inline">
        <input #userBox id="user" name="user" class="form-control" placeholder="Username" aria-label="Username" autocomplete="username" autofocus />
        <div class="password-input">
          <input toggle #passBox type="password" id="pass" name="pass"
            class="form-control" placeholder="Password" aria-label="Password"
            autocomplete="current-password" />
        </div>
        <input #additional type="text" id="additional" name="additional_information" tabindex="-1" autocomplete="off">
        <label for="authSubmit">
          <button name="authSubmit" class="secondary" (click)="authorize(userBox.value, passBox.value, additional.value)">Authorize</button>
        </label>
      </form>
    </div>
    <div class="col-md-4 panel">
      <h3>How to request access</h3>
      <p>Review our <a href="/page/terms-and-conditions">terms and conditions</a>, then complete the <a href="{{ registration_url }}">access request form</a>.
      </p>
    </div>
  </div>
</div>
