header {
  background:#3d3d3d;
  padding-bottom:0.5rem;
  padding-top:0.5rem;
}

header, a, a:hover, a:focus {
  color:#fff;
}

header .title h2 {
  font-size:2rem;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid #fff;
  letter-spacing: 1rem;
}

/* Logo */
.logo {
	width:350px;
}

/* Navigation */
nav a, nav form {
  font-size: 1.3rem;
  padding-left: 1rem;
  display: inline-block;
}
nav form {
	float: right;
}

/* Adjustments for small displays */
@media (max-width: 992px) {
	nav {
	  float:unset;
	  text-align:center;
	}
	nav form {
		display:block;
		width:100%;
	}
	nav a {
		font-size:0.9rem;
		padding: 0.5em 0.5em;
	}
	.logo {
    width:175px;
	}
	.logo-wrapper {
		text-align: center;
	}
}