<header class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="logo-wrapper">
        <a routerLink="/" routerLinkActive="active"><img class="logo" [src]="LOGO" alt="Silhouette of a crow" /></a>
      </div>
    </div>
    <div class="col-md-4 title">
      <h1><a routerLink="/">MACAWS</a></h1>
      <h4>Multilingual Academic Corpus of Asssignments :<br />Writing & Speech</h4>
    </div>
    <div class="col-md-6">
      <nav>
        <form id="authentication" class="form-inline">
          <label for="authSubmit">
            <span *ngIf="globals.isAuthenticated && !globals.authenticating"><img class="avatar" [src]="SHIELD" alt="Avatar of a crow" /><em>Signed in</em>&nbsp;&nbsp;</span>
            <button *ngIf="globals.isAuthenticated" name="authSubmit" class="secondary" (click)="signOut()">Sign out</button>
            <button *ngIf="!globals.isAuthenticated && !globals.authenticating" name="authSubmit" class="secondary" (click)="signIn()">Sign in</button>
            <span *ngIf="globals.authenticating">Authenticating...</span>
          </label>
        </form> 
      </nav>
    </div>
  </div>
</header>
<div *ngIf="globals.statusMessage" class="container status">
  <div class="row">
    <div class="col-md-12 panel">
      <div [innerHTML]="globals.statusMessage | keepHtml"></div>
      <button type="button" class="close" aria-label="Close" (click)="exitStatus()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

