<header class="container-fluid">
  <div class="row">
    <div class="col-md-2 logo">
      <a routerLink="/">
        <img [src]="LOGO" alt="Pencil sketch of a crow" />
      </a>
    </div>
    <div class="col-md-3 title">
      <h2><a routerLink="/">CROW</a></h2>
      <h3>Corpus & Repository of Writing</h3>
    </div>
    <div class="col-md-5">
      <nav>
        <a routerLink="page/teachers">Instructors</a>
        <a routerLink="page/students">Students</a>
        <a routerLink="page/researchers">Researchers</a>
        <a routerLink="page/developers">Developers</a>
        <a routerLink="page/how-to">How to...</a>
      </nav>
    </div>
  </div>
</header>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

