<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="{{ width }}">
      <h1>Compare revisions</h1>
      <div *ngIf="diff">
        <div class="controls">
          <p>Before text: <a routerLink="/corpus/{{ before }}">{{ before }}</a> | After text: <a routerLink="/corpus/{{ after }}">{{ after }}</a></p>
          Display format:
          <a routerLink="/diff" [queryParams]="{ before: before, after: after }"><strong *ngIf="format == 'plain'">Side-by-side (plain)</strong><span *ngIf="format != 'plain'">Side-by-side (plain)</span></a> |
          <a routerLink="/diff" [queryParams]="{ before: before, after: after, format: 'side-by-side' }"><strong *ngIf="format == 'side-by-side'">Side-by-side (highlighted)</strong><span *ngIf="format != 'side-by-side'">Side-by-side (highlighted)</span></a> |
          <a routerLink="/diff" [queryParams]="{ before: before, after: after, format: 'combined' }"><strong *ngIf="format == 'combined'">Combined</strong><span *ngIf="format != 'combined'">Combined</span></a>
        </div>
      </div>
      <div class="{{format}}" [innerHTML]="diff" *ngIf="diff"></div>
      <div *ngIf="!diff">
        There is nothing to compare between the selections.
      </div>
  </div>
</div>
