/* Provide a styled display to page content */
.controls {
  border: 1px solid darkslategray;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #fff;
  width: fit-content;
}


:host ::ng-deep .caxy-diff {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

:host ::ng-deep .before,
:host ::ng-deep .after {
  flex: 1 0 47%;
  background: #fff;
  margin: 3px;
  padding: 1rem;
}

:host ::ng-deep .combined {
  background: #fff;
  padding: 1rem;
}

:host ::ng-deep ins {
  background: #edfaa8;
  color: #39670b;
  text-decoration: underline;
}
:host ::ng-deep del {
text-decoration: none;
  color: #b30000;
  background: #fdbeb8;
  text-decoration: line-through;
}
:host ::ng-deep .sign.ins,
:host ::ng-deep .diff-combined td.new {
  background: #edfaa8;
  color: #39670b;
}
:host ::ng-deep .sign.del,
:host ::ng-deep .diff-combined td.old {
  color: #b30000;
  background: #fdbeb8;
}
:host ::ng-deep table,
:host ::ng-deep tr,
:host ::ng-deep td {
  border: 0;
  background: white;
}
:host ::ng-deep br {
  margin-bottom: 1rem;
}
:host ::ng-deep td {
  vertical-align: top;
  border-right: 5px solid #f0f0f0;
}
