div.row {
  padding-top:2rem;
}
a.feature, div.feature {
	display:block;
	font-size: 1.1rem;
	font-weight: normal;
	border: 1px solid #a9a9a9;
	background-color: #ffffff;
	color: #555;
	padding:2rem;
	margin:0.5rem;
	min-height:300px;
	border-radius:5px;
}
a.feature {
	text-decoration:none;
}
a:hover.feature, a:focus.feature {
	background-color:rgb(240, 235, 235);
	box-shadow: 1px 1px 0px 0px rgb(108, 108, 108);
}
.feature > h2 {
	font-size:2rem;
	font-weight:normal;
	text-align:center;
}
.feature.secondary {
	background-color: #f9f9f9;
	color:#000;
}
h2 {
	text-align:center;
}
.center-block {
	text-align:center;
}
.pad-bottom {
	padding-bottom:2rem;
}
@media (max-width: 992px) {
	.pad-bottom {
		padding-bottom:0.5rem;
	}
}
.news-item {
	margin-bottom:1rem;
}
.news-title {
	font-weight: bold;
}
.news-date {
	font-style: italic;
}
.news-summary {
	font-weight: normal;
}
