<div class="row">
  <div class="col-md-6">
    <a routerLink="/corpus" routerLinkActive="active" class="feature">
      <h2>Corpus</h2>
      <ul>
        <li>10,911 samples of college writing, containing 10,155,120 words</li>
        <li>Texts from Fall 2009 through Spring 2019</li>
        <li>Filter by country, gender, assignment, date, TOEFL scores</li>
        <li>Search by word, word family, or phrase</li>
      </ul>
      <div class="center-block">
        <button class="primary">Search corpus</button>
      </div>
    </a>
  </div>
  <div class="col-md-6">
  <a routerLink="/repository" routerLinkActive="active" class="feature">
    <h2>Repository</h2>
    Downloadable assignment prompts, syllabi, rubrics, lesson plans, and other course material.
    <ul>
      <li>
        Filter by material, document format, course, and date
      </li>
      <li>
        Search the full text of resources; export to markdown
      </li>
    </ul>
    <div class="center-block">
        <button class="primary">Browse repository</button>
      </div>
  </a>
  </div>
</div>
<div class="row">
  <div *ngIf="newsItems.length" class="col-md-6 pad-bottom">
    <div class="feature secondary">
      <h2>News</h2>
      <div class="news-item" *ngFor="let f of newsItems">
        <a class="news-title" href="{{ f.link }}" target="_blank">{{ f.title }}</a><br />
        <span class="news-date">{{ f.date }}</span> &mdash; <span class="news-summary">{{ f.summary }}</span>
      </div>
    </div>
  </div>
  <div *ngIf="homeSecondTitle" class="col-md-6 pad-bottom">
    <div class="feature secondary">
      <h2 [innerHTML]="homeSecondTitle | keepHtml"></h2>
      <div [innerHTML]="homeSecondBody | keepHtml"></div>
    </div>
  </div>
</div>
