<div class="row">
  <div class="col-md-6">
    <a routerLink="/corpus" routerLinkActive="active" class="feature">
      <h2>Corpus</h2>
      <ul>
        <li>2,769 samples of college writing, containing 614,781 words</li>
        <li>Texts in Russian & Portuguese, from 2017-2018</li>
        <li>Filter by L1, course, topic, draft, assignment mode</li>
        <li>Search by word or phrase</li>
      </ul>
      <div class="center-block">
        <button class="primary">Search corpus</button>
      </div>
    </a>
  </div>
  <div class="col-md-6">
    <div class="feature secondary">
      <h2>Repository (Coming Soon)</h2>
      Downloadable assignment prompts, syllabi, rubrics, lesson plans, and other course   material.
      <ul>
        <li>
          Filter by material, document format, course, and date
        </li>
        <li>
          Search the full text of resources; download original format
        </li>
      </ul>
    </div>
  </div>
</div>